@font-face {
  font-family: 'astralsOkami';
  src: url(assets/Astralsokami-Regular.otf);
}

:root {
  font-family: 'astralsOkami', serif;
  font-size: 24px;
  height: 100%;

  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(0, 0%, 92%);
  --black: hsl(0, 0%, 10%);

  --link-color: var(--black);
}

body {
  margin: 0px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

a {
  color: var(--link-color);
}

#skip-to-main {
  position: absolute;
  top: 4px;
  left: 4px;
}

/**
  * Visually hide an element, but leave it available for screen readers
  * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
  * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  */
.a11y-hide {
  border: 0;
  background-color: var(--white);
  clip-path: polygon(0 0, 0% 0%, 0% 100%, 0 0%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  padding: 8px;
  color: var(--black);
}

/**
  * Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
  * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
  * @link https://www.drupal.org/node/897638
  */
.a11y-hide:active,
.a11y-hide:focus {
  clip-path: unset;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: normal;
  width: auto;
  outline: 3px solid var(--black);
}

header {
  background-color: var(--white);
  border-bottom: solid 3px var(--black);
  display: flex;
  flex-flow: column nowrap;
}

header .title {
  display: flex;
  flex-flow: column nowrap;
}

#top-right-links {
  display: flex;
  align-self: flex-end;
  padding-right: 12px;
}

#top-right-links a {
  padding: 6px;
  background-color: transparent;
  transition: background-color 0.5s;
}

#top-right-links a:hover {
  background-color: var(--light-grey);
}

#top-right-links img {
  height: 32px;
}

header h1,
h3 {
  margin: 0px;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: var(--white);
  border-top: solid 3px var(--black);
}

@media (min-width: 1200px) {
  :root {
    font-size: 32px;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  header .title {
    flex-direction: row;
    align-items: baseline;
  }

  #top-right-links {
    align-self: center;
  }

  header h1,
  h3 {
    margin: 24px 12px;
  }
}

/* Noscript descriptions */
html:lang(en) article:not(:lang(en)) {
  display: none;
}
